.programSequence {
  &.editing .programSequence-item .content {
    // width: 20em;
  }
  padding-left: 0;
}

.programSequence-item {
  list-style-type: none;
  z-index: 2000;
  display: flex;
  margin-bottom: .5em;
  .fields {
    margin: 0em 0em 1em !important;
  }
  .ui.icon.button {
    height: fit-content;
  }
  .header {
    font-weight: bold;
  }
  .durationInputs {
    width: 20em;
  }
}