.device {
  .header {
    display: flex !important;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  .ui.grid {
    margin-top: 0;
  }
  .connectionState {
    @media only screen and (min-width: 768px) {
      margin-left: 0.75em;
    }
    font-size: 0.75em;
    font-weight: lighter;

    &.connected {
      color: #13d213;
    }

    &.disconnected {
      color: #d20000;
    }
  }
}

.section--number,
.program--number {
  width: 2em;
}

.section--name /*,
.program--name*/
 {
  width: 10em;
  white-space: nowrap;
}

.section--state {
}

.section-state.running {
  color: green;
}

.ui.modal.programEditor > .header > .header.item .inline.fields {
  margin-bottom: 0;
}
