.device--connectionState {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 100;
}

.device--connectionState-connected {
    color: #13D213;
}

.device--connectionState-disconnected {
    color: #D20000;
}

.section--number,
.program--number {
    width: 20px
}

.section--name /*,
.program--name*/ {
    width: 150px;
    white-space: nowrap;
}

.section--state {

}

.section--state-true {
    color: green;
}

.section--state-false {

}

.durationInput--minutes > input,
.durationInput--seconds > input {
    width: 70px !important;
}

.messages {
    position: fixed;
    top: 12px;
    left: 12px;
    right: 12px;
    z-index: 1000;
}

.message-enter,
.message-appear {
    opacity: 0.01;
}

.message-enter.message-enter-active,
.message-appear.message-appear-active {
    opacity: 1;
    transition: all 500ms ease-in;
}

.message-leave {
    /*opacity: 1;*/
    transform-origin: top;
    overflow-y: hidden;
}

.message-leave.message-leave-active {
    /*opacity: 0.01;*/
    transform: scaleY(0.01);
    /*height: 0;*/
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 500ms ease-in;
}