.device--connectionState {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 100;
}

.device--connectionState-connected {
    color: #13D213;
}

.device--connectionState-disconnected {
    color: #D20000;
}

.section--number,
.program--number {
    width: 20px
}

.section--name,
.program--name {
    width: 150px;
    white-space: nowrap;
}

.section--state {

}

.section--state-true {
    color: green;
}

.section--state-false {

}

.durationInput--minutes,
.durationInput--seconds {
    width: 100px;
}

.durationInput--colon {
    line-height: 38px;
}